@font-face {
    font-family: 'OPPOSans M';
    src: url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-M.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans L';
    src: url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-L.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans R';
    src: url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-R.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans B';
    src: url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-B.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans H';
    src: url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-H.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ffork/Custom-WebFonts@0.0.1/OPPOSans/OPPOSans-H.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

